.layout {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1300px;
}

.layout__main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.layout__right-sidebar {
    position: fixed;
    width: 350px;
}