
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-form {
    background: #30074c;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    align-items: center;
    text-align: center;
}

.auth-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3bcce;
    background: transparent;
    color: white;
    margin: 2px 0;
}

.auth-form button {
    background-color: #350e9e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 120px;
}

.auth-form button:hover {
    background-color: #1da1f2;
}

.auth-form a {
    color: #1da1f2;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}
.auth-form a:hover {
    text-decoration: underline;
}

#stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #28063f;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    animation: spawnAndFade linear infinite;
}

@keyframes spawnAndFade {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.6;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px) scale(0.5);
    }
}